.footer {
	display: flex;
	flex: 1;
	padding: 2rem 0;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.1);
}

.maincontentcontainer {
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 0;
}

.whiteBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.4);
	padding: 30px;
	width: 50%;
	height: 50%;
	border-radius: 20px;
	color: white;
}
.whiteBox h3 {
	font-size: 1rem;
	margin-bottom: 50px;
}
.whiteBox button {
	font-size: 18px;
	font-weight: bold;
	padding: 6px 12px;
	margin-bottom: 0;

	display: inline-block;
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 15px;
	width: 200px;
	color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.4);
	height: 50px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.whiteBox button:hover {
	transform: scale(0.99);
	animation: ease-in-out both;
}
.footer a {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}
.tempDiv {
	display: flex;
	flex-direction: row;
}
.whiteBox h1 {
	font-size: 4rem;
	letter-spacing: 0.3rem;
}
.blink_me {
	animation: blinker 1s linear infinite;
	font-size: 2rem;
	background-color: white;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}
